<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:title)%></title>
	</head>
	<body>
		<h1> I'm a programmer, web admin, server admin, general herder of bugs, I used to do chemistry</h1>
	</body>
	<footer>
		<p>see my work</p>
	</footer>
</html>