<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:title)%></title>
	</head>
	<body>
		<p> I don't need help just an AI </p>
	</body>
	<footer>
		<p>socials</p>
	</footer>
</html>