<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:title)%></title>
	</head>
	<body>
		<h1>AI programmer at his finest</h1>
	</body>
	<footer>
		<p>buy me a coffee and see my work</p>
	</footer>
</html>