<footer class="footer">
	<small>
		<p> Canaan McKenzie </p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Twitter",'#' %></li>
			<li><%= link_to "Github", '#' %></li>
		</ul>
	</nav>
</footer>
